.LoginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
background: rgb(234,255,222);
background: linear-gradient(90deg, rgba(234,255,222,1) 0%, rgba(119,232,255,1) 100%);
    min-height: 94vh;
}

.LoginBox{ 
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.errorMessage{
    color: red;
    background-color: rgba(202, 10, 10, 0.267);
    padding: 1em 2em ;
    margin-bottom: 2em;
    border-radius: 5px;
}

th, td{
    border: 1px solid black;
    padding: 0.5em;
}

.hintBox{
    display: none;
}